.dashboard_body_container{
    position: relative;
    float: right;
    width: calc(100% - 100px);
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 12px;
    height: 5%;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.384);
}