@model IEnumerable<Transaction>
<h1>Lista tranzakcji</h1>

    @foreach(var elm in Model)
    {
<li>@elm.ID  @elm.User.UserName  @elm.Categorie.Name</li>

    }


<a class="btn btn-primary" asp-action="Add" >Add new Transaction</a>

