@model IEnumerable<ShopListElement>
<h1>ShopingList</h1>

@foreach(var ele in Model)
{

}
    
<a class="btn btn-primary" asp-action="Add">Add new ShopinglistElement</a>
<a class="btn btn-primary" asp-action="Delete">Delete </a>