@model User


<a class="btn btn-primary" asp-action="Create">Dodaj użytkownika</a>
<a class="btn btn-primary" asp-action="Login">Zaloguj się</a>
<a class="btn btn-primary" asp-action="Edit">Edytuj</a>
<a class="btn btn-primary" asp-action="Logout">Logout</a>