@import "./../../../conf.scss";

.edit-category-body-wrapper{
    position: relative;
    float: right;
    width: calc(100% - 100px);
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 0;

    @media (max-width: $mediaPhoneSize) {
        float: none;
        width: 100%;
        padding-bottom: 60px;
    }

    .category-name{
        margin: 10px 0;
        width: 100%;
    }

    .category-type{
        width: 100%;
        margin: 10px 0;
    }

    .add-new-category-button{
        width: 100%;
        margin: -2.5px 0 10px 0;

        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 25px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        background: $green;
        width: 100%;

        &:hover{
            border-radius: 5px;
            background: $gray;
            padding: 10px 30px;
            box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
        } 
    }

    .edit-categories-submit{
        width: 100%;
        margin: 10px 0;

        color: $gray;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 25px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        background: $yellow;
        width: 100%;

        &:hover{
            border-radius: 5px;
            color: $white;
            background: $gray;
            padding: 10px 30px;
            box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
        }
    }
}